body {
  padding-top: 80px;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: #00134be0 !important; 
  position: fixed; 
  top:0;
  left: 0;
  width: 100%;
  z-index: 100; 
  margin: 0;
  padding: 10px 20px;
}


.navbar .navbar-brand,
.navbar .nav-link {
  color: rgb(255, 255, 255) !important;
  margin-left: 5px;
  margin-right: 5px;
}

h1, h2, h3 {
  color: #343a40;
  margin-top: 20px;
}

.btn-primary {
  background-color: #0069d9;
  border-color: #050505;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #5a6268;
}

.table thead {
  background-color: #007bff;
  color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 123, 255, 0.05);
}

input.form-control,
select.form-control,
textarea.form-control {
  border-radius: 0.25rem;
}

small.text-danger {
  display: block;
  margin-top: 5px;
  font-size: 0.9em;
}

.custom-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.fondo-pacientes {
  background: url('/paciente.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}

.fondo-admisiones {
  background: url('/admision.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}

.fondo-camas {
  background: url('/cama.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}
.fondo-default {
  background: url('/fondo.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}

.fondo-default,
.fondo-pacientes,
.fondo-admisiones,
.fondo-camas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; 
}

.contenido-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.62);
  border-radius: 10px;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  z-index: 1; 
}
.texto-index {
  font-weight: 400;
  font-size:x-large;
  color: #000000;
  line-height: 1.5;
}
