extends layout

block content
  h1.text-primary.mb-4= titulo
  p Bienvenido al sistema hospitalario. Desde aquí podrá gestionar el ingreso de pacientes para internación.

  hr

  a.btn.btn-success(href="/admitir") Iniciar nueva admisión
  br
  br
  a(href="https://github.com/Bongo117/His-Internaci-n" target="_blank") Ver repositorio en GitHub
